/* Header */
.main-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  background: #f98d3b;
  box-shadow: 3px 3px 1px #ea8b02;
}

.user {
  height: 40px;
  margin: 0 20px;
}

.user-avatar {
  background: #fff;
  margin: 2px;
  border-radius: 50%;
}

.user-name {
  margin: 0 4px;
  color: #fff;
}

/* Left Side Column */

.left-side {
  margin-top: 30px;
}

.headline {
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.headline::before,
.headline::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: lightblue;
  display: block;
  left: 0;
  position: absolute;
}

.headline::before {
  top: -6px;
}

.headline::after {
  bottom: -6px;
}

.opacity-small {
  opacity: 0.7;
  filter: Alpha(opacity=70);
}

.opacity-medium {
  opacity: 0.5;
  filter: Alpha(opacity=50);
}

.opacity-large {
  opacity: 0.25;
  filter: Alpha(opacity=25);
}

blockquote {
  margin: 10px;
}

.rules-container {
  margin: 20px 5px;
}

.rules-heading::before {
  content: "";
  width: 20%;
  height: 4px;
  position: absolute;
  background: green;
  margin-top: 30px;
}

.rules-content {
  padding: 20px;
}

.love {
  color: red;
}

/* Game Board */
.game-canvas {
  margin: 20px 0;
}

.game-container {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  cursor: pointer;
}

.cell {
  width: 12.5%;
  height: 65px;
  float: left;
  text-align: center;
  line-height: 65px;
  background: #cddc39;
  border: 2px solid rgb(145, 155, 11);
  transition: all 0.5s;
}

.cell:hover {
  transform: scale(1.2);
}

.cell:active {
  cursor: zoom-in;
}
