/* Header */
.main-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  background: #f98d3b;
  box-shadow: 3px 3px 1px #ea8b02;
}

.user {
  height: 40px;
  margin: 0 20px;
}

.user-avatar {
  background: #fff;
  margin: 2px;
  border-radius: 50%;
}

.user-name {
  margin: 0 4px;
  color: #fff;
}

/* Left Side Column */

.left-side {
  margin-top: 30px;
}

.opacity-small {
  opacity: 0.7;
  filter: Alpha(opacity=70);
}

.opacity-medium {
  opacity: 0.5;
  filter: Alpha(opacity=50);
}

.opacity-large {
  opacity: 0.25;
  filter: Alpha(opacity=25);
}

blockquote {
  margin: 10px;
}

.rules-container {
  margin: 20px 5px;
}

.rules-heading::before {
  content: "";
  width: 20%;
  height: 4px;
  position: absolute;
  background: green;
  margin-top: 30px;
}

.rules-content {
  padding: 20px;
}

.love {
  color: red;
}

.score-label {
  margin: 5px 0;
}

progress {
  width: 100%;
}

/* Game Board */
.game-canvas {
  margin: 20px 0;
}

.game-container {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  cursor: pointer;
}

.cell {
  width: 12.5%;
  height: 65px;
  float: left;
  text-align: center;
  line-height: 65px;
  background: #cddc39;
  border: 2px solid rgb(145, 155, 11);
  transition: all 0.5s;
}

.cell:hover {
  transform: scale(1.1);
}

.cell:active {
  cursor: zoom-in;
}

/* Modal */
.right-side-modal-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: transparent;
  height: 100%;
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.4);
  border: 1px solid gray;
  padding: 20px;
  border-radius: 2px;
  color: #000;
  overflow-y: auto;
}

.right-side-modal {
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  height: 100%;
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.4);
  border: 1px solid gray;
  padding: 20px;
  border-radius: 2px;
  color: #000;
  overflow-y: auto;
}

.close-icon {
  cursor: pointer;
  position: relative;
}

.close-icon > i {
  font-size: 30px !important;
  color: #dc3a45;
}

@media only screen and (max-width: 900px) {
  .right-side-modal {
    width: 100% !important;
    left: 0 !important;
  }
}

.isOpen {
  display: block !important;
}

.isClose {
  display: none !important;
}

.right-modal-header {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.right-modal-body {
  height: 75vh !important;
}

.award {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.love {
  color: red;
}

.social-media {
  position: absolute;
  right: 1%;
  bottom: 0;
}

.social-media > a {
  color: #fff;
  background: #db6e82;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.social-media > a:hover {
  background: #ef92a3;
}

.social-media > a span {
  color: #fff;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: 1;
  font-size: 14px;
  border-radius: 2px;
  background: #25c8dd;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-media > a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #25c8dd;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.social-media > a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

.plus {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 761px) {
  .game-rules {
    display: none;
  }

  footer {
    display: none;
  }

  .plus {
    padding: 20px 0;
  }
}
